# 궁금한 것

tuple 질문한 것
문자열 함수나, 모듈 import해서 쓸 대 .format() 등으로 쓰이나? 다른 함수들은 그냥 쓰고?

비교 연산자 - < > = <= >= == !=
논리 연산자 - not and or
조건문에서 쓰이나?
문자열에도 숫자에도 연산자 가능함

split을 하면 리스트 형태로 반환하나??
튜플 형태로 반환하는 것
딕셔너리 형태로 반환하는 것 등

baekjoon online judge

# 왕기초
* 함수 안에 함수 넣을 수 있음

# 핵심 요약
## 연산자
* 연산자들(비교, 논리)은 문자열에도 사용 가능하다

## 문자열
* format()는 문자열이 가지고 있는 함수임
  * 문자열 안에 틀을 만들고
  * 숫자가 문자열이 됨 (물론 매개변수에 다른 자료형도 가능) 
  * {}를 포함한 문자열 뒤에 .을 찍고 사용
  * .format() 그리고 f-문자열

## if 조건문
* 조건에 따라 코드를 실행하거나, 실행하지 않게 만들고 싶을 때 사용하는 구문
* 조건이 True일 때만 들여쓰기 안쪽의 문장을 실행
* fi conditon: suite(복합문장)
* 파이썬에서는 들여쓰기로 문장들이 한 덩어리라는 것을 표현함
* in 연산자
* 하나씩 처리하고 내려오므로, 아래 비교들을 쳐낼 수 있음
* if 불 값이 나오는 표현식:
> 불 값이 참일 때 실행할 문장
> 불 값이 참일 때 실행할 문장
> ...

## for 반복문
* 리스트, 딕셔너리, 범위

## while 반복문
* for 반복문으로 구현할 수 있는 것은, while로 다 가능하다.
* 표현

while 불 표현식:
>문장

## 라이브러리, 패키지, 모듈, 클래스, 함수, 변수의 관계
* 모듈 - 함수나 클래스나 함수+클래스 등을 모아 놓은 것
*클래스 - 재활용을 위해 객체지향, 만들어 놓고, 객체를 만듦
*메서드 - 클래스 안의 함수를 칭함
* from 모듈 이름 import 가져오고 싶은 변수 또는 함수

## 함수
* *args는 함수 내부에서 tuple로 처리한다
* *kwargs는 함수 내부에서 dictionary로 처리한다
* 함수를 호출하면 함수를 위한 스택이 따로 만들어 진다 (호출이 끝나면 함수 스택은 날아간다)
  * 함수 외부의 스택을 '전역 스택'이라고 한다 
```
# 기본

def 함수(매개변수):
  변수 = 초기화
  # 여러가지지 처리
  # 여러가지지 처리
  # 여러가지지 처리
  return 변수
```



## 기타
* 파이썬은 친절하게 month를 첫 번째 달부터 1번째로 알려준다 (사람 친화적)
* False 변환 값 - None, 0, 0.0 빈 문자열(""), 빈 컨테이너( [] () {} ), 빈 바이트열

In [ ]:
<map object at 0x000001B35B01F640>

# 숫자는 주소 - 리턴은 map object
# 모든게 다 객체이다. (정수, 실수, 등)
# 객체는 데이터(상태)와 그 데이터를 조작하는 method(동작)을 포함하는 소프트웨어 블록으로, 각각 고유한 식별자(주소)(identifier)를 가짐

식별자 - 이름 - 변수, 

전역 변수, 지역 변수
클래스 변수, 인스턴스 변수(함수 안에 쓰거나)
자료구조

메모리 효율성, 코드 복잡성 감소

init은 무조건 만드는 편 = 클래스의 목적에 부합하기에

In [1]:
# 변수 입력시 ; 이용하면 한 줄 가능

a = 1;b = 1;c=a+b
print(c)

2

In [2]:
# %s에 숫자를 넣으면, 문자열로 변환하여 삽입함
# %d에 숫자를 넣으면, 정수를 그대로 삽입함
# 10진수 입력이 명확해야 할 경우, %d 쓰는게 좋다. 섞여 있으면 %s

name = '박서진'
a = '2'
b = '7'
c = 20
d = 7

print(f'저의 이름은 {name}이고 나이는 {a+b}입니다.')
print('저의 이름은 %s이고 나이는 %s입니다.' %(name, c+d))

저의 이름은 박서진이고 나이는 1입니다.

In [59]:
# 실수형 자료
# .5f = 0.5f 인가??

f5 = -.7e-4
print('{:.5f}'.format(f5))
print(f'{f5:.5f}')
print(f'{f5:10.5f}') # 자릿수까지

-0.00007
-0.00007
  -0.00007

In [27]:
# 연산 우선 순위

a = 2
b = 4

a*b**a

32

In [29]:
p1 = "python's value is great"
p2 = 'python\'s value is great'
print(p1)
print(p2)

python's value is great
python's value is great

In [40]:
# sort()는 파괴형, 값 반환X
# reverse()는  파괴형, 값 반환X

a = [2,4,3,1]
b = a.sort()
c = a.reverse()
print(b)
print(c)
print(a)

None
None
[5, 4, 3, 1]

In [41]:
a = [2,4,3,1]
a.sort()
a.sort(reverse=True)
print(a)

[4, 3, 2, 1]

In [43]:
# sorted()는 비파괴현, 그리고 한 번에 정렬 및 내림차순으로 만들 수 있음

a = [2,4,3,1]
b = sorted(a, reverse=1)
print(a)
print(b)

[2, 4, 3, 1]
[4, 3, 2, 1]

In [ ]:
# 인덱스 위치 반환

c = [1,2,3,1,5]
print(c.index(3))

In [48]:
import numpy as np
c = np.random.randint(100, size=100).tolist()
print(c)
print(len(c))
c.index(1)

[18, 16, 43, 98, 90, 52, 4, 26, 25, 56, 69, 27, 47, 60, 1, 36, 7, 41, 53, 9, 6, 1, 61, 41, 41, 53, 32, 16, 54, 40, 62, 96, 18, 8, 31, 15, 41, 89, 86, 14, 67, 87, 20, 72, 21, 9, 65, 57, 1, 50, 76, 61, 88, 38, 6, 39, 62, 36, 99, 93, 53, 85, 23, 94, 46, 76, 63, 51, 69, 36, 84, 2, 84, 61, 55, 48, 20, 23, 89, 48, 11, 15, 41, 20, 90, 13, 78, 25, 34, 5, 66, 11, 89, 34, 16, 37, 97, 45, 10, 64]
100

14

In [49]:
# 개수 반환

c = [1,1,3,3,3,5,5]
print(c.count(5))

2

## 숫자에 천 단위로 , 찍기

In [ ]:
num = input('아무 숫자를 입력하세요: ')

print(''.format(num, ))

In [32]:
num = input('아무 숫자를 입력하세요: ')

if num.isdigit():
   num = num[::-1]
   ret = ''   # 문자열로 1000을 받기 위해 빈 문자열 변수를 생성
   for i, c in enumerate(num):
      i += 1
      if i != len(num) and i%3 == 0: # i != len(num)은 없어도 되는듯
         ret += (c + ',')
      else:
         ret += c
   ret = ret[::-1]
   print(ret)
else:
   print('입력한 내용 [%s]: 숫자가 아닙니다.' %num)

아무 숫자를 입력하세요: 3000000
3,000,000

In [68]:
sum = lambda a,b:a+b

sum(2,3)

5

In [ ]:
for i, name in enumerate(['james','tom','susan']):
    print(i,name)

1
3
2
0
5
6

# 변수

In [5]:
a = 1
def vartest(a):
    a = a +1

vartest(a)
print(a)

1

In [6]:
a = 1
def vartest(a):
    a = a +1
    print(a)

vartest(a)
print(a)

2
1

In [ ]:
# tuple

a = "hello"
b = "world"
print(a, b)

a, b = b, a
print(a, b)
type(a)

hello world
world hello

str

# 함수들

## abs()

## all()

## any()

## clear()

In [ ]:
find()
1번째, 2번째 인 것 같음
index와 다르게

## divmod()

In [81]:
# 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

a, b = 97, 40
divmod(a, b)

(2, 17)

## enumarate()

In [80]:
example_list = ["요소A", "요소B", "요소C"]

for i, value in enumerate(example_list):
    print("{}번째 요소는 {}입니다.".format(i, value))

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

## join()

In [ ]:
# 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요.
# 입력 abcde -> 출력 bcdea

str = "abcde"
lst = list(str)
print(lst)
lst.append(lst[0])
lst.remove(lst[0])
str = ''.join(lst)
str

## map(f, iterable)
- 함수(f)와 반복 가능한 데이터를 입력으로 받는다. map 함수는 입력받은 데이터의 각 요소에 함수 f를 적용한 결과를 리턴하는 함수이다.

## filter(func, iterable)
- filter 함수는 첫 번째 인수로 함수를, 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 데이터를 받는다. 그리고 반복 가능한 데이터(iterable)의 요소 순서대로 함수(func)를 호출했을 때 반환 값이 참인 것만 묶어서(걸러 내서) 리턴한다.

In [13]:
# lambda는 변수에 할당해 준 다음 map() 이용해야 함

f = lambda x: x*x
args = [1, 2, 3, 4, 5]
ret = map(f, args)
print(ret)
print(list(ret))

<map object at 0x000001B35B01F640>
[1, 4, 9, 16, 25]

In [12]:
f = lambda x: x*x
args = [1, 2, 3, 4, 5]
ret = map(f, args)

for i in ret:
    print(i, end=' ')

1 4 9 16 25

In [14]:
m = map(lambda i:i*i, range(0,20,2))
print(m, type(m))

<map object at 0x000001B35B3D30A0> <class 'map'>

In [15]:
m = map(lambda i:i*i, range(0,20,2))
print(list(map(lambda i:i*i, range(0,20,2))))

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [24]:
# 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서 [1, 4, 9, 16, 25], [1, 2]를 출력하세요.
# (내장함수 2개 사용 필수)

# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]


# 풀이
output_a = map(power, list_input_a)
output_b = filter(under_3, list_input_a)

print(output_a)
print(list(output_a),'\n')

print(output_b)
print(list(output_b))

<map object at 0x000001B35B3BA8B0>
[1, 4, 9, 16, 25]

<filter object at 0x000001B35B3C7C40>
[1, 2]

## max()

In [1]:
i1 = int(input('첫 번째 숫자> '))
i2 = int(input('두 번째 숫자> '))

max(i1,i2)

첫 번째 숫자> 1
두 번째 숫자> 2

2

## pop()

##  random()

In [ ]:
# sample()
# [과제] 사용자가 입력한 게임 회수만큼 로또 번호를 출력하는 프로그램을 작성하세요.(중복 처리)
# sample()은 중복을 허용 안한다

import random

num = input("게임 수 : ")

for i in range(0, int(num)):
    lotto = random.sample(range(1, 46), 6)
    lotto.sort()
    print(lotto)

In [ ]:
# shuffle()

import random
male=['남자1호','남자2호','남자3호','남자4호','남자5호']
female=['여자1호','여자2호','여자3호','여자4호','여자5호']
couple=[]
for i in range(5):
    random.shuffle(male)
    random.shuffle(female)
    c=[male[0],female[0]]
    couple.append(c)
    del male[0]
    del female[0]
print((couple))

## remove()

### reversed() 함수

In [ ]:
# 역순 출력의 다양한 형태

for i in range(4, -1, -1):
# for i in range(4, 0-1, -1):
# for i in reversed(range(5)):
    print(i)

In [ ]:
# 왜 tuple 예인가
a, b = 10, 20 #int
a, b = b, a

d=e,f,g,=10,20,30 #tuple
type(d)

tuple

In [ ]:
# 318p

(c, d) = (10, 20)
type(c)

int

In [ ]:
tuple = 10, 20, 30, 40
type(tuple)

tuple

# 문자열 함수

## format() - 문자열 만들기

In [ ]:
# 문자열 안에 틀을 만들어 두고, 이후에 그 틀 안에 값을 집어 넣어 문자열을 만드는 기능
# {} 사용함

a = 52
b = 273

print(a, "+", b, "=", a+b)
print(str(a) + "+" + str(b) + "=" + str(a+b))

52 + 273 = 325
52+273=325

In [ ]:
a =  "{}".format(10)
print(a)

b = "{}{}".format(52, type(273))
print(b)

print("{}년 {}월 {}일".format(2023,3,10))

10
52<class 'int'>
2023년 3월 10일

In [ ]:
# input() 함수의 입력 자료형

a = input("> 1번째 숫자 : ")
b = input("> 2번째 숫자 : ")
# a = int(input("> 1번째 숫자 : "))
# b = int(input("> 2번째 숫자 : "))


print("{} + {} = {}".format(a, b, a + b))
print("{} + {} = {}".format(a, b, int(a) + int(b)))

> 1번째 숫자 : 100
> 2번째 숫자 : 200
100 + 200 = 100200
100 + 200 = 300

In [79]:
a = 1000

# print('{:,}'.format(a, ',d'))
print('{}'.format(a, ',d')) # or ','도 됨

1000

In [70]:
a = 1000

format(a, ',')

'1,000'

In [71]:
a = 1000

print('{:,}'.format(a))

1,000

In [ ]:
# format() 함수의 다양한 기능 - 정수 출력의 다양한 형태 (format()의 규격화)
#매개변수는 정수가 와야 함

print("{:d}".format(52)) # 기본, 
print("{:d}".format(+52)) # 기본, +52해도 + 안 나옴
print("{:d}".format(-52)) # 기본, 
print("{:5d}".format(52)) # 5칸 잡음
print("{:5d}".format(-52)) # 5칸 잡음
print("{:=5d}".format(-52)) # =은 부호를 맨 앞에 위치시킴
print("{:05d}".format(52)) # 위와 비슷한데, 빈 칸은 0으로 채우기
print("{:05d}".format(-52)) # 음수 경우는 맨 앞자리를 -로 채우고 나머지를 0으로 채움, 여기서 05=5가 아니라, 0을 채우는 것, =없어도 부호 맨 앞에 옴
print()
print()

print("{:+d}".format(52)) # 양수나 음수 기호 표시하기 (+ 안 넣어도 + 나옴)
print("{:+d}".format(+52)) # 양수나 음수 기호 표시하기 (+ 안 넣어도 + 나옴)
print("{:+d}".format(-52)) # 양수나 음수 기호 표시하기
print("{: d}".format(52)) # 함수에 입력한 기호가 표시됨 (+를 넣어도 안 나옴ㅜㅜ)
print("{: d}".format(-52)) # 함수에 입력한 기호가 표시됨
print()
print()

# 기호와 공백의 조합
print("{:+5d}".format(52)) # 기호를 뒤로 밀기: 양수
print("{:+5d}".format(-52)) # 기호를 뒤로 밀기: 음수
print("{:=+5d}".format(52)) # 기호를 앞으로 밀기: 양수
print("{:=+5d}".format(-52)) # 기호를 앞으로 밀기: 음수
print("{:+=5d}".format(52)) # 이상한 모양
print("{:+=5d}".format(-52)) # 이상한 모양
print("{:+05d}".format(52)) # 0으로 채우기: 양수
print("{:+05d}".format(-52)) # 0으로 채우기: 음수

52
52
-52
   52
  -52
-  52
00052
-0052


+52
+52
-52
 52
-52


  +52
  -52
+  52
-  52
+++52
-++52
+0052
-0052

In [ ]:
# format() 함수의 다양한 기능 - 부동소소첨 출력의 다양한 형태 (format()의 규격화)

print("{:f}".format(52)) # 기본
print("{:.1f}".format(52))
print("{:20f}".format(52))
print("{:20f}".format(-52))
print("{:20.1f}".format(-52))
print("{:20.0f}".format(-52))

52.000000
52.0
           52.000000
          -52.000000
               -52.0
                 -52

In [ ]:
# f-문자열

a = 52
b = 273

print("{} + {} = {}".format(a, b, a+b))
print(f"{a} + {b} = {a+b}")
print()

print(f"""{a} + {b} = {a+b}
{a} - {b} = {a-b}
{a} * {b} = {a*b}
{a} / {b} = {a/b}""")

52 + 273 = 325
52 + 273 = 325

52 + 273 = 325
52 - 273 = -221
52 * 273 = 14196
52 / 273 = 0.19047619047619047

## split() - 문자열 자르기

In [ ]:
print("10 20 30 40".split(" "))
print("10 20 30 40".split())
print("10    20\t 30\n40".split())

print("10-20-30-40".split("-"))

['10', '20', '30', '40']
['10', '20', '30', '40']
['10', '20', '30', '40']
['10', '20', '30', '40']

# upper() and lower()

['10', '20', '30', '40']

# strip() - 문자열 양옆의 공백을 제거

In [ ]:
a = "      안녕하세요 \t\n\n      "

a = a.strip()
# a = a.lstrip()
# a = a.rstrip()

print(a)

안녕하세요

# isOO() - 문자열의 구성 파악하기

1
5
-1

# find(), rfind() - 문자열 찾기

In [ ]:
a = "abcdabcd"

print(a.find("b"))

print(a.rfind("b"))

print(a.find("z"))

In [ ]:
문자열과 in 연산자

In [ ]:
print ("안녕" in "안녕하세요")

True

## 파괴적, 비파괴적
* 연산자
  * 파괴적 연산자  =
  * 나머지는 다 비파괴적 연산자임
* 함수
  * 비파괴적 연산자 - upper(), lower(), split(), strip()

In [ ]:
string = "hello"

string.upper()
print("A지점:", string)

print("B지점:", string.upper())

A지점: hello
B지점: HELLO

In [ ]:
a = "안 녕 하 세 요"

a.split()
print(a)

b = a.split()
print(b)
type(b)

안 녕 하 세 요
['안', '녕', '하', '세', '요']

list

# 날짜와 시간 구하는 법

In [ ]:
import datetime # 라이브러리 패키지 모듈 함수 변수
import pytz

seoul = pytz.timezone("Asia/Seoul")
now = datetime.datetime.now(seoul)

print(seoul)
print(now)

print("{} {:02d} {} {} {} {}".format(now.year, now.month, now.day, now.hour, now.minute, now.second))

Asia/Seoul
2023-03-11 12:56:49.850402+09:00
2023 03 11 12 56 49

# bool 자료형

In [ ]:
x = 10
y = x < 20
print(y)
print( not y)

True
False

# if 조건문

In [ ]:
x = 15

if 10 < x < 20:
# = if 10 (x > 10) and (x < 20:)
# = if 10 x > 10 and x < 20:

  print(x)

15

In [ ]:
if False:
  print("Hello!")

In [ ]:
# if 조건문은 in 연산자와 잘 어울린다

number = input()
last_character = number[-1]

if last_character in "02468":
  print("짝수입니다")
else:
  print("홀수입니다")

2
짝수입니다

In [ ]:
bool("")

False

In [ ]:

if i == "":
# if i != "": #if와 else의 코드 바꿀 수 있음
# if not i =="":
  print

In [ ]:
a = input("입력: ")
b = ["안녕", "안녕하세오", "지금 몇 시야?", "지금 몇 시에요?"]





if a == "":
  for i in "":
    print("무슨 말씀이라도 해보세욧!")
    input("입력: ")

  
# for i in 
#   
#   input("입력: ")
# # if a == b[0]:
#   print(b[0])
# elif a == b[1]:
#   print(b[1])
# elif a == b[2]:
#   print(b[2])
# elif a == b[3]:
#   print(b[3])

입력:

In [ ]:
i = int(input("정수를 입력해 주세요: "))

if i%2 == 0:
  print(f"{i}은 2로 나누어 떨어지는 숫자입니다.")
else:
  print(f"{i}은 2로 나누어 떨어지는 숫자가 아닙니다.")

if i%3 == 0:
  print(f"{i}은 3로 나누어 떨어지는 숫자입니다.")
else:
  print(f"{i}은 3로 나누어 떨어지는 숫자가 아닙니다.") 

if i%4 == 0:
  print(f"{i}은 4로 나누어 떨어지는 숫자입니다.")
else:
  print(f"{i}은 424로 나누어 떨어지는 숫자가 아닙니다.")

if i%5 == 0:
  print(f"{i}은 5로 나누어 떨어지는 숫자입니다.")
else:
  print(f"{i}은 5로 나누어 떨어지는 숫자가 아닙니다.")

정수를 입력해 주세요: 12480
12480은 2로 나누어 떨어지는 숫자입니다.
12480은 3로 나누어 떨어지는 숫자입니다.
12480은 4로 나누어 떨어지는 숫자입니다.
12480은 5로 나누어 떨어지는 숫자입니다.

# 리스트

In [ ]:
# a.append(4)
# a.insert(0,10)
# a.extend([4,5,6]) - 매개변수로 list입력임을 유의
# del a[0]
# a.pop(0) - 매개변수로 인덱스 (기본값은 -1)
# a.remove(2) - 매개변수로 값 입력
# a.clear()
# a.sort()
# a.sort(reverse=True)
# 273 in a
# 273 not in a

# 요소 추가: append(), insert(), extend()
# 요소 제거:  del 키워드, pop(), remove(), clear()
# 요소 정렬: sort()
# 요소 존재를 확인: in / not in

## range()

In [ ]:
# range() 함수의 매개변수는 반드시 정수가 와야 한다 

n = 10
# a = range(0, 5)
# a = range(0, n / 2) # 이건 안됨, 
a = range(0, n // 2)
print(a)

range(0, 5)

In [ ]:
# 역순 출력의 다양한 형태

for i in range(4, -1, -1):
# for i in range(4, 0-1, -1):
# for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [ ]:
reversed(1,2,3)

TypeError: reversed expected 1 argument, got 3

# For 
for 반복자(반복변수 in 반복할 수 있는 것:

>  코드(복합구문)

* 반복할 수 있는 것: dictionary

In [ ]:
# 반복문의 이해를 돕는 수학적 지식 - 항등원, 총합, 총곱
# 항등원: 임의의 원소에 특정 연산을 했을 때 재귀시키는 원소
# 숫자 덧셈의 항등원: 0
# 숫자 곱셈의 항등원: 1
# 총합과 총곱 등은 숫자가 많아지면 대책이 없다. 그래서 sum, 수학에서는 시그마를 만들었다 (시그마a면 a의 요소를 모두 더한다 / 파이a는 다 곱한다)
# for는 시그마, 파이 같이 요소를 쭉 나열해 주는 것이 기본 기능이다. 반복 변수에 요소가 차례대로 하나씩 반복해서 들어감

a = [1,2,3,4,5]
prod=1 # 이게 항등원임(product, 파이)

for i in a:
  prod *= i
print(prod)

120

In [ ]:
# 비교

print("안녕하세요"[-1::-1])
print()

a = [1,2,3,4,5,6,7,8,9,10]

print(a[-1::-1])
print(a[::-1])
print(a[0:9:-1])
print()

for i in range (10, 0-1, -1):
    print(i)

요세하녕안

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
a = [[1,2,3],[4,5,6,7],[8,9]]

for i in a:
  print(i)
  for j in i:
     print(j)

[1, 2, 3]
1
2
3
[4, 5, 6, 7]
4
5
6
7
[8, 9]
8
9

In [ ]:
# 전개 연산자

# (1)리스트 내부에 사용하는 경우
a = [1,2,3]
b = [*a, *a]
print(b)

b = [*a, 4] # 비파괴적으로 추가 가능 <-> append()
print(b)

# (2)함수의 매개변수 위치에 사용하는 경우
date = [2022, 8, 10, 14, 14]
print("{}년 {}월 {}일 {}시 {}분".format(*date))

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 4]
2022년 8월 10일 14시 14분
[0, 1, 2, 3, 4, 5, 6]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]
output_1 = [[],[],[]]

for number in numbers:
  output[number%3 -1].append(number)
  output_1[(number-1) % 3].append(number)
print(output)
print(output_1)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

# 딕셔러니
* # key에 올 수 있는 것 - 숫자, 문자열, bool. tuple
* dictionary에 {key:value, key:value,} - 마지막에 ,있어도 에러 안난다(복붙에 대한 배려)
* 리스트와 딕셔러니 차이점
    * 인덱스를 기반으로 값을 저장하는 것 / 가리키는 위치: 인덱스 / 선언형식: 변수=[]
    * key를 기반으로 value를 저장하는 것 / 가리키는 위치: 키 / 선언형식: 변수={}
* in 연산자, get()

In [ ]:
products = [{"제품명": "건망고 슬라이스",
           "가격": 4000,
           "분류": "식품",
           "원산지": "태국"},
           {"제품명": "건망고 슬라이스",
           "가격": 4000,
           "분류": "식품",
           "원산지": "태국"},]

for product in products:
  for key in product:
    print(key)
    print(product[key])
    print("-" * 20)

제품명
건망고 슬라이스
--------------------
가격
4000
--------------------
분류
식품
--------------------
원산지
태국
--------------------
제품명
건망고 슬라이스
--------------------
가격
4000
--------------------
분류
식품
--------------------
원산지
태국
--------------------

In [ ]:
dict_a = {
    "name": "어벤저스 엔드게임",
    "type": "히어로 무비",
    1: 2,
    "a": [1,2],
    "b": {3,4},
    "c": {"c":"d"}
}
print(dict_a)
dict_a['평가'] = '재미없어' # 새로운 자료 추가
print(dict_a)
dict_a["b"]

{'name': '어벤저스 엔드게임', 'type': '히어로 무비', 1: 2, 'a': [1, 2], 'b': {3, 4}, 'c': {'c': 'd'}}
{'name': '어벤저스 엔드게임', 'type': '히어로 무비', 1: 2, 'a': [1, 2], 'b': {3, 4}, 'c': {'c': 'd'}, '평가': '재미없어'}

{3, 4}

In [ ]:
dictionary = {"ingredient": ["망고","설탕","메타중아황산나트륨","치자황색소"]}

print(dictionary["ingredient"][1])

del dictionary["ingredient"][2]
print(dictionary)
print()

a = dictionary.get("key")
print(a)

if a == None:
    print("존재하지 않는 키에 접근했습니다.")

설탕
{'ingredient': ['망고', '설탕', '치자황색소']}

None
존재하지 않는 키에 접근했습니다.

In [ ]:
pets = [{"name": "구름", "age": 5},
        {"name": "초코", "age": 3},
        {"name": "아지", "age": 1},
        {"name": "호랑이", "age": 1},     
]

print("# 우리 동네 애완 동물들")

for pet in pets:
    a = pet["name"]
    b = pet["age"]
    print(f"{a} {b}살")

# 우리 동네 애완 동물들
구름 5살
초코 3살
아지 1살
호랑이 1살

In [ ]:
numbers = [1,2,6,8,4,3,2,1,9,5,4,9,7,2,1,3,5,4,8,9,7,2,3]
counter = {}

for number in numbers:
    if number != number:
        counter[number]=number
    else:
        counter[number] += 1
    

        
print(counter)

KeyError: 1

In [ ]:
character = {
    'name': '기사',
    'level': 12,
    'items': {
        'sword': '불꽃의 검',
        'armor': '풀플레이트'
    },
    'skill': ['베기', '세게 베기', '아주 세게 베기']
}





for key1 in character:
    print(key1, ":", character[key1])
    for key2 in key1:
        print(key2,":", )

name : 기사
level : 12
items : {'sword': '불꽃의 검', 'armor': '풀플레이트'}
skill : ['베기', '세게 베기', '아주 세게 베기']

In [ ]:
character={'items': {
        'sword': '불꽃의 검',
        'armor': '풀플레이트'}}

for key1 in character:
    print(key1, ":", character[key1])
    for key2 in key1:
        print(key2,":", )

{'items': {'sword': '불꽃의 검', 'armor': '풀플레이트'}}

In [ ]:
character = {'skill': ['베기','세게 베기','아주 세게 베기']}

for i in character:
    print(i, ":", character['skill'][0])
    print(i, ":", character['skill'][1])
    print(i, ":", character['skill'][2])

skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [ ]:
a = {'a':'b', 'b':'c'}

for key, value in a.items():
    print(key, value)

a b
b c

In [ ]:
d = {'a':97, 'b':98, 'c':99}

for key in d:
    print(d[key], end=' ')

97 98 99

In [ ]:
scope = [1,2,3]
for x in scope:
    print(x)
#     break
else:
    print('Perfect')

1

In [ ]:
# renage()와 np.arange()와의 차이점

import numpy as np
num = np.arange(10000)
# num = np.arange(10000).tolist() - list로 바꿔줌
type(num)

## While 반복문
* for 반복문처럼 사용하기
* 무한반복 or 조건을 활용한 반복 (상태, 시간, ...)

In [ ]:
# for 반복문처럼 사용하기

i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 상태를 기반으로 반복하기

list_test = [1, 2, 1, 2]
value = 2

while value in list_test: # 물론 value를 지정하지 않고 그냥 value에 2를 넣어도 됨
    list_test.remove(value)
    
print(list_test)

[1, 1]

In [ ]:
# 시간을 기반으로 반복하기

import time

number = 0

target_tick = time.time() + 5
while time.time() < target_tick:
    number += 1

print("5초 동안 {}번 반복했습니다.".format(number))

5초 동안 33639472번 반복했습니다.

# 오류 처리

In [ ]:
# pass 키워드

number = input("정수 입력> ")
number = int(number)

if number:
  pass
else:
  pass

정수 입력> 1

In [ ]:
# raise와 NotImplementedError

IndentationError: ignored

In [ ]:
print("a","b","c","d", end='')

a b c d/