## AI데이터플랫폼을 활용한 빅데이터 분석 전문가 과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 23.03.24
- 성명 : 박주경
- 점수 : 70

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [4]:
numbers = [5, 15, 6, 20, 7, 25]

for number in numbers[1:]:
    if number%5==0:
        print(number)

15
20
25

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [25]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]



a = []
b = []

for i in list_input_a:
    a.append(power(i))

print(a)

for i in list_input_a:
    c = under_3(i)
    if c == True:
        b.append(i)
        
print(b)

[1, 4, 9, 16, 25]
[1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [33]:
i = int(input('정수를 입력해 주세요> '))

if i%2 == 0:
    print("짝수")
else:
    print("홀수")

정수를 입력해 주세요> 3523676
짝수

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [35]:
c = lambda a,b : (a**b) - (a*b)

print(c(2,5))
print(c(5,2))

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [49]:
example_list = ["요소A", "요소B", "요소C"]

for i, e in enumerate(example_list):
    print(f'{i}번째 요소는 {e}입니다.')

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [114]:
a = divmod(97,40)
print(a)

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [87]:
list_number = [52, 273, 32, 72, 100]

try:
    i = int(input('정수 입력> '))

    if list_number[i] in list_number[:]:
        print(f'{i}번째 요소: {list_number[i]} 예외 처리 완료')

except IndexError:
    print("리스트의 인덱스를 벗어났어요! 예외 처리 완료")

except ValueError:
    print("정수를 입력해 주세요! 예외 처리 완료")

정수 입력> 4
4번째 요소: 100 예외 처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [1]:
i1 = int(input('첫 번째 숫자> '))
i2 = int(input('두 번째 숫자> '))

max(i1,i2)

첫 번째 숫자> 3
두 번째 숫자> 9

9

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

In [ ]:
for i in range(1:101):

#### 11. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [111]:
from datetime import datetime
now = datetime.now()

print(f'{now.year}-{now.month}-{now.day} {now.hour}:{now.minute}:{now.second}')

2023-3-24 15:59:50

In [ ]:
# time으로 해보기

#### 12. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1000 밀리초(ms) = 1초)

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [70]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

a.remove(9)
a.remove('a')

print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [109]:
sum=0

for i in range(500, 1001):
    if i%35 == 0:
        sum += i

print(sum)

10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

# [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

for number in numbers:
    output[     ].append(number)
print(output)

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

In [107]:
class Country:
    def __init__(self, 나라, 인구, 수도):
        self.나라 = 나라
        self.인구 = 인구
        self.수도 = 수도
    
    def desc(self):
        print(f'{self.나라}의 인구는 {self.인구}천만명이며 수도는 {self.수도}입니다.')
  


class Korea(Country):    

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [108]:
class Cal4:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    def sum(self):
        sum = self.a + self.b
        return sum
    
    def sub(self):
        sub = self.a - self.b
        return sub
        
    def mul(self):
        mul = self.a * self.b
        return mul
    
    def div(self):
        div = self.a/self.b
        return div

a = Cal4(10, 5)

print(f'입력하신 값의 더하기는 {a.sum()} 입니다')
print(f'입력하신 값의 빼기는 {a.sub()} 입니다')
print(f'입력하신 값의 곱하기는 {a.mul()} 입니다')
print(f'입력하신 값의 나누기는 {a.div()} 입니다')

입력하신 값의 더하기는 15 입니다
입력하신 값의 빼기는 5 입니다
입력하신 값의 곱하기는 50 입니다
입력하신 값의 나누기는 2.0 입니다

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

In [58]:
import time

t= time.localtime()

print(t.tm_yday)

83

#### 20. # [도전과제] 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
          
[출력]<br>
['Alabama',<br>
 'Georgia',<br>
 'Georgia',<br>
 'Georgia',<br>
 'Florida',<br>
 'South   Carolina',<br>
 'West Virginia']