## AI데이터플랫폼을 활용한 빅데이터 분석 전문가 과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 23.03.24
- 성명 :
- 점수 :

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [ ]:
# A.
# 변수를 선언합니다.
numbers = [5, 15, 6, 20, 7, 25]

# 반복을 돌립니다.
for number in numbers:
    # number가 10보다 작으면 다음 반복으로 넘어갑니다.
    
    if number < 10:
        continue
    # 출력합니다.
    print(number)

15
20
25

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [ ]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

In [ ]:
a = map(power)

In [ ]:
# A.
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

# map() 함수를 사용합니다.
output_a = map(power, list_input_a)
print("# map() 함수의 실행 결과")
print("map(power, list_input_a):", output_a)
print("map(power, list_input_a):", list(output_a))
print()

# filter() 함수를 사용합니다.
output_b = filter(under_3, list_input_a)

print("# filter() 함수의 실행 결과")
print("filter(under_3, list_input_a):", output_b)
print("filter(under_3, list_input_a):", list(output_b))

# map() 함수의 실행 결과
map(power, list_input_a): <map object at 0x00000131AF585EC8>
map(power, list_input_a): [1, 4, 9, 16, 25]

# filter() 함수의 실행 결과
filter(under_3, list_input_a): <filter object at 0x00000131AF585F08>
filter(under_3, list_input_a): [1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [ ]:
# A.
try:
    number = int(input('정수 입력>'))

    if number % 2 == 0:
        print('짝수입니다')

    else:
        print('홀수입니다.')
except ValueError:
    # ValueError가 발생시
    print('정수를 입력해 주세요')

정수 입력>8
짝수입니다

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [ ]:
# A.
x = lambda a, b : a ** b - a*b
print(x(2,5))
print(x(5,2))

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

In [ ]:
num = input('아무 숫자를 입력하세요: ')

if num.isdigit():
   num = num[::-1]
   ret = ''
   for i, c in enumerate(num):
      i += 1
      if i != len(num) and i%3 == 0:
         ret += (c + ',')
      else:
         ret += c
   ret = ret[::-1]
   print(ret)
else:
   print('입력한 내용 [%s]: 숫자가 아닙니다.' %num)

아무 숫자를 입력하세요: 123456789
123,456,789

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [ ]:
# A.
# 변수를 선언합니다.
example_list = ["요소A", "요소B", "요소C"]

for i, value in enumerate(example_list):
    print("{}번째 요소는 {}입니다.".format(i, value))

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [ ]:
# A.
a, b = 97, 40
divmod(a, b)

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [ ]:
# A.
# 변수를 선언합니다.
list_number = [52, 273, 32, 72, 100]

# try except 구문으로 예외를 처리합니다.
try:
    # 숫자를 입력받습니다.
    number_input = int(input("0~4 정수 입력> "))
    # 리스트의 요소를 출력합니다.
    print("{}번째 요소: {}".format(number_input, list_number[number_input]))
except ValueError:
    # ValueError가 발생하는 경우
    print("정수를 입력해 주세요!")
except IndexError:
    # IndexError가 발생하는 경우
    print("리스트의 인덱스를 벗어났어요!")
except Exception as e:
    print(e)
finally:
    print('예외 처리 완료')

0~4 정수 입력> 가
정수를 입력해 주세요!
예외 처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [ ]:
# A.
n1 = input('정수 입력>')
n1= int(n1)
n2 = input('정수 입력>')
n2= int(n2)
if n1 > n2:
    print(n1)
else:
    print(n2)

정수 입력>5
정수 입력>7
7

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

In [ ]:
# A.
max_value = 0

for i in range(1,100):
    j = 100 - i
    current = i * j
    if max_value < current:
        max_value = current
print(max_value)

2500

#### 11. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [1]:
# A.

import time
from datetime import datetime
t = time.time()
d = datetime.fromtimestamp(t)
s = d.strftime('%Y-%m-%d %X')
s

'2023-03-23 10:25:06'

#### 12. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1000 밀리초(ms) = 1초)

In [2]:
# A.
# 1000 밀리초(ms) = 1초

from datetime import datetime

start = datetime.now()
print(start)
print('1에서 백만까지 더합니다.')
ret = 0
for i in range(1000000):
   ret += i
print('1에서 백만까지 더한 결과: %d' %ret)
end = datetime.now()
elapsed = end - start
print('총 계산 시간: ', end='');print(elapsed)
elapsed_ms = int(elapsed.total_seconds()*1000)
print('총 계산 시간: %dms' %elapsed_ms)

2023-03-23 10:26:53.691130
1에서 백만까지 더합니다.
1에서 백만까지 더한 결과: 499999500000
총 계산 시간: 0:00:00.127305
총 계산 시간: 127ms

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [ ]:
# A
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
a[9:11] = []
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [ ]:
# A.
sum = 0
for i in range(500,1001):
    if (i % 5 ==0) & (i % 7 == 0):
        sum += i
    i += 1
print(sum)

10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[     ].append(number)
print(output)

In [ ]:
# A.
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[(number+2)%3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.

In [ ]:
# A.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
counter = {}
for number in numbers:
    if number in counter:
        counter[number] = counter[number] + 1
    else:
        counter[number] = 1
print(counter)

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

In [ ]:
class Country:
  


class Korea(Country):    

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

In [3]:
# A.
class Country:
    def __init__(self, name, pop, capital):

        self.name = name 
        self.pop = pop
        self.capital = capital

    def desc(self):
        
        print('%s의 인구는 %d천만명이며 수도는 %s입니다.' 
              %(self.name,self.pop,self.capital))    


class Korea(Country):    

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [5]:
#A.
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second

    def sum(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

i1 = int(input('정수입력> '))
i2 = int(input('정수입력> '))
cal4 = FourCal(i1,i2)

print('덧셈: {}, 뺄셈: {}, 곱셈: {}, 나눗셈: {}'
      .format(cal4.sum(),cal4.sub(),cal4.mul(),round(cal4.div())))

정수입력> 10
정수입력> 5
덧셈: 15, 뺄셈: 5, 곱셈: 50, 나눗셈: 2

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

In [ ]:
# A.
import time
t = time.localtime()
start_day = '%d-01-01' %t.tm_year
elapsed_day = t.tm_yday
print('오늘은 %s 이후 %d일째 되는 날입니다.' %(start_day,elapsed_day))

오늘은 2021-01-01 이후 182일째 되는 날입니다.

#### 20. # [도전과제] 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [8]:
# A.
# strip() 함수를 사용하면 주어진 문자열에서 양쪽 끝에 있는 공백과 \n 기호를 삭제
# re.sub() 정규표현식 문자열 치환
# title() 함수 첫글자를 대문자로 변환
import re

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']