## 파이썬 기초

#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [24]:
!python -V

Python 3.9.13

In [1]:
#표현식
print(273)
10+20+30

273

60

In [2]:
# 표현식이 하나 이상씩 모이면 문장
print("hello python")
print(52, 'hello python', 5+3)

hello python
52 hello python 8

In [8]:
# 문장이 모여서 프로그램
a = 1;b = 1;c=a+b
print(c)

2

In [9]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
36

In [51]:
# python keyword
import keyword
print(keyword.kwlist,'\n')
print(len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

36

식별자 기본 규칙 : 식별자는 코드 내의 변수, 함수 혹은 속성을 식별하는 문자열

 - 키워드를 사용하면 안된다.
 - 특수문자는 언더 바 (_) 만 사용한다.
 - 숫자로 시작하면 안된다.
 - 공백을 포함할 수 없다.

https://bibi6666667.tistory.com/277
파이썬은 snake_case와 CamelCase를 모두 사용

  - itemlist item_list ltemList
  - loginstatus login_status LoginStatus
  - 캐멀 케이스(대문자로 시작)클래스
  - 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
  - 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [77]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어

if 3 in [1,2,3,4]: print('3이 있습니다. ')

3이 있습니다.

In [84]:
print("3이 있습니다.")

3이 있습니다.

In [88]:
# 사칙연산
a = 5
b = 10
c = a + b
d = a * b
e = a / b
f = a % b # 나머지
g = a // b # 몫
h = 2 ** 3 # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

5
10
15
50
0.5
5
0
8

In [90]:
# 다른 타입간 연산은 안됨
string = "문자열"
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [13]:
print(type(string))
type(number)

NameError: name 'string' is not defined

In [11]:
a = 10 
a = "문자"
a = 100
print (a)
type (a)

100

int

In [14]:
# 복합 대입 연산자
num = 10
num += 10
num *= 10
num

200

In [16]:
num = 100
num *= 10
num -= 990
num /= 10
print (num)
print (type(num))
type(num)

1.0
<class 'float'>

float

In [101]:
a = "나는"
b = " 파이썬을"
c = " 좋아한다"
a+b+c

'나는 파이썬을 좋아한다'

In [105]:
a = "파이썬"
b = "3.8"
a+b

'파이썬3.8'

In [17]:
# 사용자 입력
input('인사말을 입력하세요: ')

인사말을 입력하세요: 안녕하세요

'안녕하세요'

In [20]:
num = input('숫자를 입력하세요: ')
print(num)
type(num)

숫자를 입력하세요: 2
2

str

In [3]:
# input() 함수를 사용하면 숫자도 문자로 전환되어 숫자연산을 위한 변환 필요
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n + num2_n)

숫자를 입력하세요5
숫자를 입력하세요5
10

In [23]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력해주세요.

num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n+num2_n)

숫자를 입력하세요1
숫자를 입력하세요1
2

In [3]:
# A.
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = float(num2)
print(num1_n + num2_n)
# print(num1_n + num2_n)

숫자를 입력하세요3
숫자를 입력하세요3.3
6.3

In [4]:
# Q. a = 52와 b = 52.273일 때 a+b는 5252.273으로 출력되도록 a와 b를 문자열
# 자료형으로 변환하세요.

In [10]:
# A.
a = 52
b = 52.273
print(str(a) + str(b))

5252.273

In [20]:
# 문자열 : "", '', """ """, ''' '''
p1 = "python's value is greart"
# p2 = 'python's value is great'
print(p1)

python's value is greart

In [14]:
s1 = '"python is value"he says'
s1

'"python is value"he says'

In [18]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [24]:
y1 = "Once you study data analysis\nyou need python"
print(y1)
y2 = '''Once you study data analysis
you need python'''
print(y2)
y3 = """Once you study data analysis 
you need python"""
print(y3)

Once you study data analysis
you need python
Once you study data analysis
you need python
Once you study data analysis
you need python

In [28]:
# 문자열 연산
a1 = 'python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("=" * 20)

python is easy to learn
pythonpythonpython
====================

In [48]:
# 자료형 - List
# 리스트는 [] 로 표시하며 []안의 요소를 구분하여 순서있게 나열
list1=[1,2,3,4,5]
list2=['a','b', 'c']
list3=[1,'a', 'abc',[1,2,3,4,5],['a','b','c'] ]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [45]:
l=[1,2,3,4,5]
l1[1]

NameError: name 'l1' is not defined

In [36]:
# 인덱싱 : 0부터 시작
list1=[1,2,3,4,5]
list3[:]
list3[2]
list3[3][4]
list3[4][1]

'b'

In [51]:
# 리스트 수정, 삭제

a=[0,1,2,3,4,5,6,7,8,9]
b=['a','b','c']
a[0]=1
b[1]='a'
print(a)
print(b)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [53]:
a=[0,1,2,3,4,5,6,7,8,9]
b=['a','b','c']
c=a+b
print(c)
c[-1]=1
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 1]

In [55]:
c[-2]=2
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 2, 1]

In [81]:
# 정렬
b= [2,4,3,1]

b. sort()
print(b)
# 내림차순
b_d = sorted(b, reverse=True)
print(b_d)
b.reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [83]:
# 정렬, 내림차순으로 변환
s=[1,1,2,3,4,5,6,7,8,9,2,1]

s.sort()
print(s)
s_d= sorted(s, reverse=True)
print(s_d)
s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [85]:
# 인덱스 위치 반환
c=[1,2,3,1,5]
print(c.index(3))

2

In [215]:
import numpy as np
np. random.randint(45, size=6) # 0~4 사이에서 무작위로 100개의 정수를 배열로 출력

array([44, 42,  4, 21, 34, 30])

In [192]:
# tolist() 리스트로 변환
import numpy as np
c=np.random.randint(100, size=100).tolist()
print(c)
print(len(c))
c.index(1) # 1의 인덱스

[82, 88, 48, 47, 34, 30, 87, 64, 30, 69, 57, 8, 83, 60, 11, 29, 72, 0, 3, 76, 17, 94, 99, 39, 91, 44, 99, 72, 57, 87, 65, 6, 80, 12, 16, 7, 75, 83, 85, 2, 41, 88, 72, 60, 19, 54, 14, 26, 3, 46, 78, 29, 97, 13, 7, 92, 93, 49, 80, 32, 64, 24, 43, 91, 58, 16, 71, 38, 77, 51, 63, 25, 61, 92, 15, 38, 76, 16, 85, 74, 11, 53, 32, 24, 27, 90, 97, 28, 72, 59, 61, 42, 14, 2, 19, 10, 28, 98, 56, 62]
100

ValueError: 1 is not in list

In [217]:
# 개수 반환
c=[1,1,3,3,3,5,5]
print(c. count(5))

2

In [220]:
# 리스트 확장
h=[1,2,3]
h.extend([4,5])
print(h)
# 추가
h.append(6)
print(h)
h.insert(0,5)
print(h)
h.insert(10,7)
print(h)
len(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]

8

In [241]:
# Q. list = [0,1,2,3,4,5,6,7,8,9]에서 아래와 같이 출력하세요
list=[0,1,2,3,4,5,6,7,8,9]
print(list.[0:2])
#[0,2,4,6,8]
#[1,3,5,7,9]
#[2,1,0]

SyntaxError: invalid syntax (3441865001.py, line 3)

In [245]:
list=[0,1,2,3,4,5,6,7,8,9]
print(list[0::2])
print(list[1::2])
list = sorted(list,reverse=True)
print(list[7:])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[2, 1, 0]

In [247]:
list=[0,1,2,3,4,5,6,7,8,9]
list[0::2]

[0, 2, 4, 6, 8]

In [256]:
#Q.list=[0,1,2,3,4,5,6,7,8,9]에서 아래와 같이 출력하세요
list = [0,1,2,3,4,5,6,7,8,9]
#[0,2,4,6,8]
#[1,3,5,7,9]
#[2,1,0]

print(list[0::2])
print(list[1::2])
print(list[2::-1])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[2, 1, 0]

In [259]:
np.random.randint(100, size=20)

array([84,  0, 60, 76, 57, 29, 14, 21, 46, 12,  7, 51, 88, 41, 69, 92, 84,
       35,  9, 35])

In [260]:
#[과제]list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 82의 갯수를 구하기
- 87의 인덱스 구하기
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기
- 39를 11로 변경 
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기


list1= [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]

SyntaxError: invalid syntax (3320008872.py, line 2)

In [20]:
list1= [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]

print(list1[11][1])
list1.append(82)
print (list1)
print(list1. count(82))
print(list1.index(87))
print(list1[3:11])
list2=list1[3:11]
list2.reverse()
print(list2)
list1[8]=11
print(list1[8])
list1.reverse()
list1[16::]
del list1(

SyntaxError: cannot delete function call (1127046932.py, line 16)

In [1]:
list1= [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
print(list1[2::2])

[69, 4, 29, 39, 54, 27, 63, 22]

In [2]:
# 내가 강의 듣기 시작한 부분!

# while문을 사용해서 1부터 100까지의 정수 중 3의 배수이 합을 구해 보세요.

i = 1
sum = 0
while i < 1001:
    if i%3 ==0:
        sum = sum+i
    i += 1
print(sum)

166833

In [3]:
# 1부터 100까지의 정수 중 5에서 95까지의 합을 구하세요.

i = 0
sum = 0
while i < 101:
    i += 1
    if i> 4:
        if i< 96:
            sum = sum + i
print(sum)

4550

In [8]:
# 5를 2로 나누었을 때의 몫과 나머지를 구하세요.

a = 5//2
b = 5%2

print("5를 2로 나누었을 때의 몫은 %s, 나머지는 %s입니다."%(a,b))
print(f'5를 2로 나누었을 때의 몫은 {a}, 나머지는 {b}입니다.')

5를 2로 나누었을 때의 몫은 2, 나머지는 1입니다.
5를 2로 나누었을 때의 몫은 2, 나머지는 1입니다.

In [10]:
# 101의 3승을 구하세요
print(101**3)

1030301

In [12]:
# Python과 3.8.3을 합쳐서 Python 3.8.3으로 출력하세요

a = 'Python'
b = ' 3.8.3'
print(a+b)

Python 3.8.3

In [15]:
# a = 5 a = '10' a = 15일때 자료형은 무엇인가?
a = 5;a = '10';a = 15
type(a)

int

In [32]:
# 5의 3승을 3으로 나누었을 때의 나머지를 복합 대입 연산자를 이용해서 구하세요.

a=5
a**=3
a%=3
print(a)

2

In [36]:
# 아래와 같이 출력하는 프로그램을 작성하세요.
# 이름이 무엇인가요? kevin
# 제 이름은 kevin 입니다.

print("이름이 무엇인가요?")
name = input()

print(f"제 이름은 {name}입니다.")

이름이 무엇인가요?
kevin
제 이름은 kevin입니다.

In [37]:
# 숫자 3개를 입력해서 첫 번째 숫자를 두 번째 숫자 승한 뒤에 세 번째 숫자로 나누었을 때 몫을 구하세요.

x=int(input("숫자 3개를 입력하세요: "))
y=int(input())
z=int(input())

print(x**y//z)

숫자 3개를 입력하세요: 5
3
5
25

In [29]:
# [과제] while 문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요

In [30]:
# [과제] 1부터 5까지 입력해서 12345를 출력하세요

In [31]:
# [과제] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [39]:
# [과제] [0, 1, 2, 3, 4, 5, 6, 7, 8, b', 'c']에서 'c'를 삭제 후 출력하세요.

In [40]:
# [과제] [4, 8, 5, 4, 8, 4, 3, 9, 1, 9]를 내림차순으로 정렬하세요

In [41]:
# [과제] format 함수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요.
# 2021년 12월 29일 15시 47분 30초

In [42]:
# [과제] 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.

In [43]:
# [과제] 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성

In [44]:
# [과제] 계절 구분 프로그램
# 각 계절별 출력 멘트는 계절에 맞게 창작
# if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [45]:
# # [과제] 커피 자판기 프로그램
# 시나리오: 자판기 커피 재고 5잔, 커피 1잔 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
# 각 Case별 멘트 출력은 상황에 맞게 창작

In [47]:
# 수강생

year=int(input("태어난 연도를 입력해주세요: "))
num=year%12
list=['잔나비띠','닭띠','개띠','돼지띠','쥐띠','소띠','범띠','토끼띠','용띠','뱀띠','말띠','양띠']
print("당신은 %s 입니다." %list[num])

NameError: name '수강생' is not defined