#### 함수란
- 특정 입력에 따른 결과를 되돌려주는 명령어 집합

#### 사용 이유
- 반복적으로 비슷한 코드를 작성할 때 함수를 만들면 편리
    - 유지보수와 가독성

내장함수, 외장함수

https://codedrive.tistory.com/91

# print()

In [4]:
print('Life''is''too''short')
print('Life' 'is' 'too' 'short')
print('Life'+'is'+'too'+'short')

Lifeistooshort
Lifeistooshort
Lifeistooshort

In [ ]:
# 내장함수
print(abs(-3))
print(all([1,2,3,0])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65))

In [ ]:
sum = lambda a,b:a+b
sum(3,4)

In [ ]:
myList = [lambda a,b:a+b, lambda a,b:a*b]
print(myList[0](3,4))
print(myList[1](3,4))

In [ ]:
print(len('python'))
print(len([1,2,3]))
print(len([1,2,'a']))

In [ ]:
list(range(5))
list(range(1,6))
list(range(1,10, 2))
list(range(0, -10, -1))

In [ ]:
print(divmod(7,3))

In [ ]:
# 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한 enumerate 객체를 리턴
for i, name in enumerate(['james','tom','susan']):
    print(i,name)

In [ ]:
# 실행 가능한 문자열 입력으로 받아 문자열을 실행한 결과값을 리턴
print(eval('1+2'))

In [ ]:
# 외장함수 : 전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리. 파이썬을 설치할 때 자동으로 설치
# pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈

import pickle
f = open('test.txt', 'wb')
data = {1:'python',2:'you need'}
pickle.dump(data,f)
f.close()

In [ ]:
import pickle
f = open('test.txt','rb')
data = pickle.load(f)
print(data)
f.close()

In [ ]:
import os
os.environ['PATH']

In [ ]:
%pwd

In [ ]:
# 폴더변경
os.chdir('C:\\hmkd1')

In [ ]:
os.chdir('C:\\hmkd1\\m1_programming')

In [ ]:
os.getcwd()

In [ ]:
!dir

In [ ]:
import os
os.rename('test1.txt','test_new.txt')

In [ ]:
# glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환
import glob
glob.glob('C:\\hmkd1\\m1_programming/*.txt')

In [ ]:
#[과제] 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(3가지 방법)
list=[0,1,2,3,4,5,6]
# del list[2] # 인덱스
list.remove(2) # 값
# list.pop(2)
print(list)

In [ ]:
#[과제]  내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.
list = [0,1,2,3,4,5,6]
del list[:]
print(list)

In [ ]:
#[과제]  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
[1,2,3,4,5] -> [1,4,9,16,25]
[1,2,3,4,5] -> [1,2]

In [ ]:
list=[1,2,3,4,5]
list_n=[]
x=lambda a:a**2  

for i in list:          # [1,2,3,4,5] -> [1,4,9,16,25]
    list_n.append(x(i))
   
del(list[2:])           # [1,2,3,4,5] -> [1,2]

print(list_n)         #함수호출
print(list)

In [ ]:
x=lambda a:a**2
lst = [x(i) for i in range(1,6)]
print(lst,'\n')

lst2 = [1,2,3,4,5]
filtered_list = filter(lambda a: (a<3), lst2)
print(list(filtered_list))

In [ ]:
#[과제]  [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

list1 = [1,-3,2,0,-5,6]   
        
print(list(filter(lambda x: x > 0, list1)))

In [ ]:
def even(arr):
    result=[]
    for i in arr:
        if i>0:
            result.append(i)
    return result
print(even([1,-3,2,0,-5,6]))

In [ ]:
#[과제] 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]

ab = list(zip([1,2,3],[4,5,6]))
print(ab)
                        
abc = list(zip([1,2,3],[4,5,6], [7,8,9]))
print(abc)

alp_1 = list(zip('abc', 'def'))
print(alp_1)

In [ ]:
lista=[[1,2,3],[4,5,6],[7,8,9]]
listb=sum(lista,[])
lista_n=[]

for k in range(len(lista[0])):
    tup1=tuple(listb[k::3])
    lista_n.append(tup1)

print(lista_n)

In [ ]:
#[과제] 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.
def sum(mun):
    print(f"합: {eval(mun)}")    #입력된 문자열이 연산이 가능한 형태면 연산해 줌
    print(f"평균: {(eval(mun)/len(mun.split('+'))):0.2f}")

###################################################

mun=input("평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): ")
mun_n=mun.replace(',','+')    #1,2,3 -> 1+2+3

sum(mun_n)

In [ ]:
def average(*args):
    x=0
    for i in args:
        x=(x+i)
    result=x/len(args) 
    return result

r=average(1,2,3)    
print(r)

#### sort, sorted 모두 key, reverse 매개변수를 갖고 있다.
- reverse : 기본값은 reverse=False(오름차순), reverse=True를 매개변수로 입력하면 내림차순으로 정렬
- key : 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고 key 값을 기준으로 정렬되고 기본값은 오름차순

In [ ]:
#[과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key = lambda x:len(set(x)))
strings[::-1]

In [ ]:
#[과제] 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요,
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
s_list=list(strings)
s_list.sort(key=lambda x:len(set(x)))     #기본 정렬(오름차순)

print(s_list[::-1])     #거꾸로 출력(내림차순으로 나오게)

In [ ]:
#[과제]  url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

x = url.split('/')
x[2]

In [ ]:
#[과제] url에서 쿼리문을 추출하여 출력하세요.
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

do=url.find('?')
print(url[do+1:])   #쿼리문 전체

qr=[]
qr=url[do+1:].split('&')   #각 '변수=값' 분리
print(qr)

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
tmp = url.split('?')
queries = tmp[1].split('&')
for query in queries:
    print(query)