In [2]:
# Q. 정규표현식을 사용하여 text에서 전화번호만  출력하세요
# text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

import re
 
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
 
re.findall('\d+[-]\d+[-]\d+', text)

['032-232-3245']

In [154]:
# Q. 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요. 
# text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

re.findall('에러\s\w+', text)

['에러 1122', '에러 1033', '에러 xxx']

In [188]:
# Q. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
import re
 
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다." 

re.search('(\d+)-(\d+-\d+)', text).group(1)

'032'

In [189]:
# Q. 정규표현식을 사용하여 text에서 지역코드 제외한 번호만 출력하세요.

import re
 
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다." 

re.search('(\d+)-(\d+-\d+)', text).group(2).replace
# re.search('(\d+)-(\d+-\d+)', text).group(2).replace('-', ', ')

'232, 3245'

In [191]:
# Q.'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 
# 'abcdefghi'와 e'를 출력하세요

text = 'abcdefghij'

print(re.search('(a(b(c(d(e)f)g)h)i)j', text).group(1))
print(re.search('(a(b(c(d(e)f)g)h)i)j', text).group(5))
re.search('(a(b(c(d(e)f)g)h)i)j', text).groups()

abcdefghi
e

('abcdefghi', 'bcdefgh', 'cdefg', 'def', 'e')

In [109]:
# Q. 위 문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

text = 'abcdefghij'
re.search('(a(b(c(d(e)f)g)h)i)j', text).group()

'abcdefghij'

In [195]:
# Q. 이름으로 그룹을 참조하여 'Lots of punctuation 에서 Lots를 출력하세요.

text = 'Lots of punctuation'

re.search('(?P<name>(\w+))', text).group('name')

'Lots'

In [197]:
# Q. 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

text = 'Paris is very very beautiful.'

re.search(r'\s(\w+)\s\1', text).group()

' very very'

In [199]:
# Q. 정규표현식을 작성하여 아래와 같이 출력하세요.

import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile('\d\s\w+')
list = regex.findall(li)
print(list)

['1 apple', '5 oranges', '3 boys', '4 girls', '0 army', '1 mr']

In [213]:
# Q. text에서 'H,h'만 출력하세요.
text = 'Hello my friend! Life is short you need Python!'

re.findall('h', text, re.I)

['H', 'h', 'h']

In [215]:
# Q. text에서 'H,h'가 아닌 것 모두를 출력하세요.

print(re.findall('[^h]', text, re.I))
print(re.findall('[^h]+', text, re.I))

['e', 'l', 'l', 'o', ' ', 'm', 'y', ' ', 'f', 'r', 'i', 'e', 'n', 'd', '!', ' ', 'L', 'i', 'f', 'e', ' ', 'i', 's', ' ', 's', 'o', 'r', 't', ' ', 'y', 'o', 'u', ' ', 'n', 'e', 'e', 'd', ' ', 'P', 'y', 't', 'o', 'n', '!']
['ello my friend! Life is s', 'ort you need Pyt', 'on!']

In [56]:
# Q. 'we are going home'에서 home만 출력하세요.

text = 'we are going home'

re.findall('\w+$', text)

['home']

In [57]:
# Q. 'home sweet'에서 home만 출력하세요.

text = 'home sweet'

re.findall('^\w+', text)

['home']

In [60]:
# Q. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

text = '199305, 1923A, a93247'

re.match('\d+', text).group()

'199305'

In [99]:
# Q. '99food234, a93456\n, a9356ba '에서 '99food234'만 출력하세요.

text = '99food234, a93456\n, a9356ba '

re.match('\w+', text).group()

'99food234'

In [209]:
# Q. '12345abc'에서 'abc'만 출력하세요.
import re

text = '12345abc'

# re.findall('[a-z]+', text)
re.sub('\d', '', text)

'abc'

In [211]:
# Q. '12345abc'에서 '12345'만 출력하세요.
import re

text = '12345abc'

# re.findall('\d+', text)
re.sub('\D', '', text)

'12345'

In [98]:
# Q. '12345abc'에서 'a'만 출력하세요.

text = '12345abc'

re.search('[a-z]', text).group()

'a'

In [221]:
# search는 문자열 전체를 검색하여 정규식과 매칭되는 패턴을 찾는다.
# Q. '122333c'를 모두 출력하세요.

text = '122333c1233c'

# re.search('\d+\D', text).group()
re.findall('12{2}3{3}c', text)

['122333c']

In [69]:
# Q. 'abc12345Abc'에서 'A'만 출력하세요.

text = 'abc12345Abc'

re.search('[A-Z]', text).group()

'A'

In [218]:
# Q. 'KOREA 대한민국'에서 '대'만 출력하세요.

text = 'KOREA 대한민국'

re.search('[가-힣]', text).group()

'대'

In [187]:
# Q. 'aaaaBBBcccDDDeee'을 모두 출력하세요.

text = 'aaaaBBBcccDDDeeeaaaBBBcccDDeee'

re.findall('.+(?=a{3})', text)

['aaaaBBBcccDDDeee']

In [223]:
# Q. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

text = '1234a1234'

# re.findall('\d', text)
re.findall('[1234]', text)

['1', '2', '3', '4', '1', '2', '3', '4']

In [224]:
# Q. text에서 what are you doing?만 출력하세요 
text = 'what are you doing?\nit is going to be late for school\nwe need to hurry up'

re.match('.+', text).group()

'what are you doing?'

In [79]:
# Q. text에서 전체문장 모두 출력하세요 

text = 'what are you doing?\nit is going to be late for school\nwe need to hurry up'

print(re.match(r'.+',text, re.DOTALL).group())

what are you doing?
it is going to be late for school
we need to hurry up

In [225]:
# Q. text에서 대소문자 구분없이 전체문장 모두 출력하세요 

text = 'Friend fRiend friEnd FRIEND'

re.findall('friend', text, re.I)

['Friend', 'fRiend', 'friEnd', 'FRIEND']